/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
}
br{
    display: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}
h2{
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}
h3{
    padding: 0px;
    margin: 0px;
}

/************ STYLES **********/

.scroll-container{
   scroll-behavior: smooth;
   overflow-y: scroll; 
}


/***********  HEADER   ********/


nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
  
}
.logo{
    margin-top: auto;
    margin-left: 0px;
    margin-bottom: auto;
    margin-right: auto;
    
}
.logo img{
    width: 30%;
}
.menu{
    margin: 20px;
    display: block;
      
}
.menu a{
    text-decoration: none;
    margin: 10px; 
    color: black;
}
.menu a:hover{
    color: #0065FC;
    border-top: #0065FC 4px solid;
    padding-top: 25px;
   
}
h1{
    font-size: 22px;
    margin-bottom: 5px;
}
/*********** SEARCH BAR ********/

.search-bar{

    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px; 
    padding-top: 20px; 
    
}
.search-bar i{
    padding: 20px;
    background-color:#F2F2F2;
    color: black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
#site-search{
    border: #F2F2F2 solid 1px;
    font-weight: bold;
    color: black;
   
}
#button-search{
   
    background-color: #0065FC;
    color: white;
    border-radius: 0px 20px 20px 0px;
    font-weight: bold;  

}

input{
    border: none;
    padding: 20px;
}
.bouton-searchbar{
display: none;
}

/******** INFOS *******/ 

.infos{
    padding: 20px 0px 20px 0px;
    
    
}
.infos i{
    border: #D9D9D9 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;  
}


/************** FILTRES *************/

.filtres{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
}
.filtres_title{
    padding: 8px;
}
.filtres-icons{
    display: flex;
    gap: 20px;
}
button{
    background-color: #ffffff;
    border-radius: 30px;
    border:#D9D9D9 solid 1px; 
    padding: 10px; 
    font-size: 17px;    
}
button i{
    padding-right: 10px;
    
}
button:hover{
    background-color: #DEEBFF;
}
/*********** MAIN *********/ 

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
   
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements-title{
    display: flex;
    justify-items: left;
}
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    
}

.hebergements-cards{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;   
    
}
.hebergement-card{
    width: 30%;
    margin-bottom: 15px;
    
    
}
.hebergements-cards img{
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}
.card-content{
    padding-left: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********** ACTIVITES ***********/

.activités-title{
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
}
.activités-subtitle{
    padding: 15px;
    font-size: 16px;
}
.activités{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    padding-bottom: 25px;
    gap: 20px;
}
.card-activités{
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.4s;
    width: 100%;
   
 
}
.card-activités img{
    width: 100%;
    height: 380px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
    
}
.container-activités{
    padding: 2px 16px; 
     
}
.container-activités h3{
    font-size: 16px;
}

/* *******FOOTER******/

footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 190px;
    background-color: #F2F2F2;
    
    margin-top: 20px;
    padding: 20px;
}
.footer-1{
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
}
.footer-1 a{
    color: black;
    font-size: 19px;
}
.titre-footer{
    font-size:18px;
    color: black;
    font-weight: bold;
    
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /*********** FILTRES ********/

     .filtres{
        display: flex;
        flex-direction: column;
     }

    /*********** ACTIVITES ***********/
    .activités{
        display: flex;
        flex-direction: row;
        width: 100%;    
    }
    .card-activités{
        width: 23%;
        gap: 50px;
       
    }
    .card-activités img{
        height: 200px;
        width: 100%;  
       
    }
    /********** FOOTER ************/

    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
        
    }
    .footer-1{
       width: 100% 
    }
    .footer-1 a{
        font-size: 16px;
    }
    .titre-footer{
        font-size: 18px !important; 
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    
    
    .main-container{
        
        width: 100%;
        margin: 0px;
        padding: 0px;
        
    }
/******** HEADER *******/
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .logo img{

width: 15%;
padding-bottom: 20px;
padding-top: 20px;
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 100%; 
      
    }
    
   
    .menu{
        display: flex;
        justify-content: space-around;
        
        width: 100%;
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
     
    }
    .menu a{
        width: 100%;
        border-bottom: #D9D9D9 2px solid;
        padding-bottom: 20px;
        margin: 0px;
        text-align: center;
        
    }
   
    .menu a:hover{
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
        border-top: none;
        margin: 0px;
        padding: 0px;  
    }
    .title{
        padding-left: 20px;
        
    }
    .mobil{
        display: block;
    }
    
    /******** SEARCH BAR ********/

.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
   
}    
#button-search{
    display: none;
}
.bouton-searchbar{
    display: block;
    border-radius: 0px 15px 15px 0px;
    padding: 1px;
   background-color: #0065FC;
}
.bouton-searchbar i{
    background-color: #0065FC;
    color: white;
    margin: auto;
     border-radius: 0px 15px 15px 0px;
    text-align: center;
}

/********** INFOS *******************/

.infos{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

/*********** FILTRES ***************/

.filtres-icons{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    width: 100%;
    gap: 20px;
    
}
.filtres-icons button{
    padding: 15px;
    width: 40%;
  
}
/************ HEBERGEMENTS & POPULAIRES ********/
.hebergements-and-populaires section{
    border-radius: 0px;
   background-color: var(--main-bg-color);

}
.populaires{
    order: 1;
    display: flex;
    flex-direction: column;
    
    
}
.color{
    background-color: white !important;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    
}
.populaires-cards .card{
    width: 100%;
}
.card{
    width: 100%;
}

.hebergements{
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    
}


/*********** ACTIVITES ****************/

.activités{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}
.card-activités{
    width: 90%;
       
}
.card-activités img{
        height: 141px; 
        width: 100%;
       
}

/************ FOOTER ******************/

footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
           
}
.titre-footer{
        font-size: 18px !important; 
    }
.footer-1{
    width: 100%;
    font-size: 16px;
}


}